* {
  color: red;
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  box-sizing: border-box;
  background: rgb(34, 40, 49) ;
}

.block {
  display: block;
  margin: auto;
  background: rgb(57, 62, 70);
  max-width: 75%;
  box-shadow: 0 0 50px black;
}

.navbar {
  background: rgb(57, 62, 70) !important;
}

.nav-link {
  color: rgb(242, 242, 242) !important;
}

.navbar-nav {
  padding-left: 38% !important;
}

.navbar-brand {
  margin-left: 15px;
}

<<<<<<< HEAD
=======
a.active {
  background-color: rgb(34, 40, 49, 0.3);
}

>>>>>>> 5d9d6ec2c7e60e028dc29f8764370c183471b5dd
.container {

  padding-bottom: 30px;
}

.active {
  background-color: rgb(34, 40, 49, 0.3);
  padding-top: 10px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.zombie {
  padding-top: 40px;
  width: 450px;
}

.information-index {
  padding-top: 30%;
}


@media (max-width: 767px) {
  .information-index {
    padding-top: 50px;
  }
}

.footnote {
  font-size: 14px;
  margin-top: 15px;

}

table {
  margin-top: 30px;
}

tr:nth-child(2n+1) {
  background-color: rgb(34, 40, 49, 0.3);
}

th {
  padding-left: 15px;
  text-align: center;
}

td {
  padding-top: 10px;
	padding-bottom: 10px;
  padding-left: 15px;
}

p {
  margin-top: 25px;
}

iframe {
  max-width: 100%;
  width: 550px;
  max-height: 50%;
  height: 260px;
}

h5 {
  text-align: center;
  margin-top: 20px !important;
  margin-bottom: 20px;
}


.location-place {
  margin-top: 10px;
  width: 700px;
}

form {
  display: flex;
flex-direction: column;
width: 60%;
}

textarea, input {
  background: rgb(34, 40, 49, 0.3);
  outline: none;
  border: none;
  margin-bottom: 7px;
  resize: none;

}

button {
  background: rgb(34, 40, 49, 0.5);
  outline: none;
  border: none;
  width: 45%;
  margin-top: 10px;
  min-width: 100px;
  margin-bottom: 10px;
}

button:hover {
  background: rgb(19, 22, 26);
}

dt {
margin-bottom: 10px
}

dd {
  margin-left: 40px;
  margin-bottom: 20px;
}
